
export(.zoomDown)
export(.zoomUp)
export(canvasAddBinds)
export(canvasControlButton4)
export(canvasControlDown)
export(canvasControlLeft)
export(canvasControlMouseWheel)
export(canvasControlRight)
export(canvasControlUp)
export(canvasDown)
export(canvasLeft)
export(canvasMinus)
export(canvasMotion)
export(canvasMouseWheel)
export(canvasPlus)
export(canvasRight)
export(canvasShiftButton4)
export(canvasShiftButton5)
export(canvasShiftMouseWheel)
export(canvasSpace)
export(canvasSpaceRelease)
export(canvasUp)
export(tkImShow)
export(tkimageCopy)
export(tkimageCreate)
export(tkimageDelete)
export(tkimageRead)
export(tkimageWrite)
import(tcltk)
import(tkRplotR)
